body {
	font-family: Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 1.3;
	color: #f8f8fF;
	margin: auto;
	background: #282a36;
	position: relative;
	padding: 0 30px;
}

a.headerlink {
  display: none;
  border: none;
}

pre {
  color: #f8f8f2;
  background: #44475a;
}

pre:not([class]){
  background-color: #44475a;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* code in snippets
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
.hljs-string{
  color: #f1fa8c;
}

.hljs-keyword{
  color: #ff79c6;
}

.hljs-literal{
    color: #bd93f9;

}
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

h1 {
  color: #bd93f9;
}

h2 {
  color: #bd93f9;
}

h3 {
  color: #bd93f9;
}

h4 {
  color: #bd93f9;
}

h5 {
  color: #bd93f9;
}

h6 {
  color: #6272a4;
}

a {
  color: #ff79c6;
}

code {
  color: #8be9fd;
}

blockquote {
    border: none !important;
}

em {
  color: #8be9fd;
}

strong {
  color: #ffb86c;
}

ul {
  color: #f8f8fF;
}

ol {
  color: #6272a4;
}

dd {
  color: #f8f8fF;
}

dt {
  color: #f8f8fF;
}

li {
  color: #f8f8fF;
}

.MathJax {
  color: #f1fa8c;
}

.katex-html {
  color: #f1fa8c;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* Table of Content in HTML Markdown                                                    */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
    z-index: 2;
    color: #f8f8f2;
    background: #bd93f9;
    border-color: #bd93f9;
}

.tocify .list-group-item{
  color: #f8f8f2;
  background: #282a36;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

table, th, td {
  border: 1px solid black;
}
